.container
{
    box-shadow: 0 0 3px rgba(0,0,0, 0.5) ;
    background: #f7f7f7;
    width: 360px;
    margin: 100px auto;
}
.completed
{
    text-decoration: line-through;
    color: gray;
}
body{
    background: linear-gradient(90deg, #2bc0e4 10%, #eaecc6 90%);
}
h1{
    background: #2980b9;
    color: rgb(179, 165, 165);
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{
    background: white;
    height: 40px;
    
    line-height: 40px;
}
li:nth-child(2n){
    background: #f7f7f7;
}
input{
    font-size: 18px;
    background: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: lightblue;
    color: #2980b9;
    outline: none;
}
input:focus{
    background: white;
    border: 3px solid #2980b9;
    
}
i.fa-minus,i.fa-plus{
    float: right;
}
span{
    background: #ef4c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.4s linear;
    opacity: 0;

}
li:hover span{
    width: 40px;
    opacity: 1.0;
}

@media screen and (max-width:922px){
    .container{
        text-decoration: none;
         color: black;
     }
}
